
/********** Software Page ********/

.nav-pills .nav-link::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 28px;
    right: -3px;
    top: 11px;
    background-color: #FF7D1A;
    opacity: 0;
  }
  
  .tab-content>.tab-pane {
    border-radius: 10px;
    border: 1px solid #F1F1F1;
    background: #FFF;
    height: 100%;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    color: #FF7D1A;
    background-color: transparent;
    font-size: 18px;
    font-family: popping-semibold;
  }
  
  .nav-pills .nav-link.active::after {
  
    opacity: 1;
  }
  
  .nav-pills .nav-link {
    position: relative;
    text-align: start;
    padding: 13px 10px 13px 0;
    color: #000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-right: 0 !important;
    width: 100%;
     
  }
  
  .certify-box {
    width: 100%;
    max-width: 250px;
  }
  
  .borders {
    border-right: 2px solid #EEEEEE;
  }
  
  .flexx {
    display: flex !important;
  }
  
  .mrRight {
    border-right: 1px solid #EEEEEE;
    margin-right: 2rem;
  }
  
  .mlLeft {
    margin-left: 2rem;
  }
  
  .nav-pills {
    padding-right: 0rem;
    width: 180px; 
    /* border-right: 1px solid #EEEEEE; */
  }
  
  .tabContents {
    border: 0.5px solid #F1F1F1;
    border-radius: 10px;
  }
  
  .Supply-Chain figure {
    display: flex;
    justify-content: flex-end;
  }
  
  .featuress p { 
    font-family: popping-regular;
  }
  
  
  @media screen and (max-width: 767px) {
    .mTop {
      margin-top: 2rem;
    }
  
    .smCenter {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    /* .smMargin{
    margin: 0 1rem !important;
   } */
    .nav-pills {
      /* flex-direction: row !important; */
      display: flex;
      /* justify-content: space-around; */
      align-items: center;
      padding-right: 1rem;
      border: 0;
  
    }
  
    .nav-pills .nav-link {
      text-align: start !important;
      padding: 1rem 0 !important;
      font-size: 14px !important;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
    }
  
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link::after {
      border-right: 0 solid #FF5F00;
      border-radius: 0;
      margin-right: 0;
    }
  }
  
  @media screen and (max-width:992px) {
    .mTop {
      margin-top: 2rem;
    }
  
    .smCenter {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .mrRight {
      margin: 0;
      border: 0;
    }
  
    .mlLeft {
      margin: 0;
    }
  
    .nav-pills {
      flex-direction: row !important;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-right: 1rem;
      border: 0;
    }
  
    .nav-pills .nav-link {
      text-align: start !important;
      padding: 1rem 0;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
    }
  
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link::after {
      border-right: 0 solid #FF5F00;
      border-radius: 0;
      margin-right: 0;
    }
  
    .certifications {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .certifications img {
      margin-bottom: 1rem;
    }
  
    #section-5 .splide__arrow {
      display: none;
    }
  
    .flexx {
      display: none !important;
    }
  }
  
  
  /********** Software Page ********/